
<h1><strong>{{ page_title }}</strong></h1>

{% for entry in entries %}

<div>
	<h3><a href="/blog/entry/{{ entry.id }}">{{ entry.Title }}</a></h3>
	<li>카테고리 : {{ entry.Category.Title }}</li>
 	<li>태그 : {% for tag in entry.Tags.all %}
 	<span>{{ tag.Title }}</span>
	{% endfor %}
	</li>
	<ul><li>{{ entry.created }}</li><ul>
	<div>{{ entry.Content }}</div>
</div>

{% endfor %}

<h3><strong>
	{% for i in range %}
	{% if i != 0 %}
	<a href="/blog/page/{{ i }}/">[{{ i }}]</a>
	{% endif %}
	{% endfor %}
</strong></h3>


